button {
    width: 150px;
    height: 40px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 15px;
    background: linear-gradient(135deg, #f39c12, #d35400);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.95);
    transform: translateY(5%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
