form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

form input[type="text"], form input[type="number"], form input[type="password"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form_column {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

form input[type="text"]:focus, form input[type="password"]:focus {
    border-color: #f39c12;
    box-shadow: 0 0 8px rgba(243, 156, 18, 0.6);
    outline: none;
}

form input[type="submit"] {
    width: 150px;
    height: 40px;
    font-weight: bold;
    background: linear-gradient(135deg, #f39c12, #d35400);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form input[type="submit"]:active {
    transform: scale(0.95);
    transform: translateY(5%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
