nav {
    background-color: #f39c12;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px 0;
    transition: background-color 0.3s ease;
}

nav a {
    margin: 0 20px;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

nav ul {
    list-style-type: none;
}

nav:hover {
    background-color: #e67e22;
}
